
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="actionLinkBreadcrumb">DASHBOARD</a>
        </li>
        <li class="breadcrumb-item active" href="/User/Index"> Home</li>
        <li class="active small text-muted ml-auto" href="/User/Index"> Actualizado @DateTime.Now</li>
    </ol>
</nav>