@model CLINIC.Models.tbl_Rol

@{
    ViewBag.Title = "Nuevo Rol";
    Layout = null;
}

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            @using (Html.BeginForm("NewRole", "Role", FormMethod.Post, new { @class = "form", @id = "frmNewRole" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Nombre</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "Name", @type = "text", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Description">Descripción</label>
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @id = "Description", @type = "text", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="center-align">
                            <button type="submit" class="btn btn-block btn-outline-success">Crear Rol</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="card-footer text-danger">
            <p id="Message">@Html.ValidationSummary(true, "", new { @class = "text-title" })</p>
        </div>
    </div>
</div>